In [63]:
# Importing datasets
import pandas as pd
import numpy as np

In [64]:
# Read train and test
train = pd.read_csv('Train.csv',parse_dates=[1])
test = pd.read_csv('Test.csv')
df = train.copy()
df_test =test.copy()

# Convert to datetime format

In [65]:
df.head()

   ID            Datetime  Count
0   0 2012-08-25 00:00:00      8
1   1 2012-08-25 01:00:00      2
2   2 2012-08-25 02:00:00      6
3   3 2012-08-25 03:00:00      2
4   4 2012-08-25 04:00:00      2

In [66]:
df['year'] = df['Datetime'].dt.year
df['month'] = df['Datetime'].dt.month
df['day'] = df['Datetime'].dt.day
df['hour'] = df['Datetime'].dt.hour

In [67]:
df.head()

   ID            Datetime  Count  year  month  day  hour
0   0 2012-08-25 00:00:00      8  2012      8   25     0
1   1 2012-08-25 01:00:00      2  2012      8   25     1
2   2 2012-08-25 02:00:00      6  2012      8   25     2
3   3 2012-08-25 03:00:00      2  2012      8   25     3
4   4 2012-08-25 04:00:00      2  2012      8   25     4

# lag features

In [ ]:
df['l']