In [28]:
# Importing datasets
import pandas as pd
import numpy as np

In [31]:
# Read train and test
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
df = train.copy()
df_test =test.copy()

# Convert to datetime format

In [32]:
df.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2